<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.MemberMapper">

<!-- 	<select id="selectMember" resultMap=""   >
	    <![CDATA[
		select * from t_shopping_cart 
		where member_id=#{member_id} 
		]]>
	</select> -->
	
	<select id="selectMember" resultType="com.it.domain.MemberVO">
<!--      <![CDATA[-->
          select g.* from member g
          where g.member_id in
<!--      ]]>-->
           
      <foreach item="item"  collection="list" open="(" separator="," close=")">
        #{item.member_id}
      </foreach>
 	</select>

	<insert id="insert">
		insert into member (member_id, member_pwd, member_name, member_birth,
		member_address, member_email, member_phone)
		values (seq_member, #{member_id}, #{member_pwd}, #{member_name},
		#{member_birth}, #{member_address}, #{member_email}, #{member_phone})
	</insert>
	
	<select id="read" resultType="com.it.domain.MemberVO">
		select * from member where member_number = #{member_number}
	</select>
	
	<delete id="delete">
		delete from member where member_number = #{member_number}
	</delete>
	
	<update id="update">
		update member set member_id = #{member_id},
		member_pwd = #{member_pwd}, member_name = #{member_name},
		member_birth = #{member_birth}, member_address = #{member_address},
		member_email = #{member_email}, member_phone = #{member_phone},
		where member_number = #{member_number}
	</update>

</mapper>